<h1>store type</h1>

<div class="form"><%= render 'form' %></div>

<h1>Listing store_types</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Code</th>
      <th>Created At</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @store_types.each_with_index do |store_type, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= store_type.name %></td>
        <td><%= store_type.code %></td>
        <td><%= store_type.created_at.to_date %></td>
        <td><%= link_to 'Edit', edit_store_type_path(store_type),remote:true %>&nbsp;&nbsp;<%= link_to 'Destroy', store_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>