<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @store_type.name %>
</p>

<p>
  <strong>Code:</strong>
  <%= @store_type.code %>
</p>

<%= link_to 'Edit', edit_store_type_path(@store_type) %> |
<%= link_to 'Back', store_types_path %>
