<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li>
				<%= link_to home_index_path do %><i class="fa fa-dashboard"></i> Dashboard<%end%>
			</li>
			<li>
				<%= link_to stores_path do %><i class="fa fa-support"></i> Store<%end%>
			</li>
			<li class="active">
				<i class="fa fa-desktop"></i> Show
			</li>
		</ol>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<table>
			<tr><th>Store Category: </th>
				<td><%= @store.store_category.name %></td>
				<th>Code: </th>
				<td><%= @store.store_category.code %></td>
			</tr>
			<tr><th>Store: </th><td><%= @store.name %></td>
				<th>Code: </th><td><%= @store.code %></td>
			</tr>
		</table>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Sr.No.</th>
						<th>Name</th>
						<th>Company</th>
						<th>Quality</th>
						<th>Quantity</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<% @store.store_items.each_with_index do |si, i|%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= si.name %></td>
						<td><%= si.company %></td>
						<td><%= si.quality %></td>
						<td><%= si.quantity %></td>
						<td><%= si.price %></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
		<div>
			<%= link_to 'Download Pdf', store_store_path(@store,format: 'pdf'), target: '_blank', class: 'btn btn-success'%>
		</div>
	</div>
</div>