<%= bootstrap_form_for(@store_item) do |f| %>
  <%= f.text_field :name %>
  <%= f.text_field :company %>
  <%= f.text_field :quality %>
  <%= f.number_field :quantity %>
  <%= f.text_field :price %>
  <%= label_tag :store_category%>
  <%= select :category, :id, @store[0], {prompt: true}, {class: 'form-control', onchange:"change_store();", required: true} %>
  <div id="store"><%= render 'store' %></div><br/>
  <%= f.submit %>
<% end %>
