<h1>store item</h1>

<div class="form"><%= render 'form' %></div>

<h1>Listing store_items</h1>

<table class="table">
  <thead>
    <tr>
      <th>Sr.No.</th>
      <th>Name</th>
      <th>Store type</th>
      <th>Store</th>
      <th>Store category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Tax</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @store_items.each_with_index do |store_item, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= store_item.name %></td>
        <td><%= store_item.store_type_name %></td>
        <td><%= store_item.store_name %></td>
        <td><%= store_item.store_category_name %></td>
        <td><%= store_item.price %></td>
        <td><%= store_item.quantity %></td>
        <td><%= store_item.tax %></td>
        <td><%= link_to 'Edit', edit_store_item_path(store_item), remote: true %>&nbsp;&nbsp;<%= link_to 'Destroy', store_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>