<div class="row">
  <div class="col-md-12">
    <ol class="breadcrumb">
      <li>
        <%= link_to home_index_path do %><i class="fa fa-dashboard"></i> Dashboard<%end%>
      </li>
      <li>
        <%= link_to store_items_path do %><i class="fa fa-support"></i> Store Item<%end%>
      </li>
      <li class="active">
        <i class="fa fa-desktop"></i> Show
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <div class="table-responsive">
      <table class="table table-hover table-striped">
        <tr>
          <th>Name:</th>
          <td><%= @store_item.name %></td>
        </tr>

        <tr>
          <th>Company:</th>
          <td><%= @store_item.company%></td>
        </tr>

        <tr>
          <th>Quality:</th>
          <td><%= @store_item.quality %></td>
        </tr>

        <tr>
          <th>Quantity:</th>
          <td><%= @store_item.quantity %></td>
        </tr>

        <tr>
          <th>Price:</th>
          <td><%= @store_item.price %></td>
        </tr>

        <tr>
          <th>Store:</th>
          <td><%= @store_item.store.name %></td>
        </tr>

        <tr>
          <th>Store category:</th>
          <td><%= @store_item.store.store_category.name %></td>
        </tr>
      </table>
    </div>
    <br/>
    <div>
      <%= link_to 'Download Pdf', store_item_store_item_path(@store_item,format: 'pdf'), target: '_blank', class: 'btn btn-success'%>
    </div>
  </div>
</div>