<div class="row">
<div class="col-md-1">
<%= link_to 'Pdf', store_categories_store_categories_path(format: 'pdf'), target: '_blank'%>
</div>
</div>
<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-2">
    <h3>store category</h3>
    <div class="form"><%= render 'form' %></div>
  </div>
  <div class="col-md-7">
    <h3>Listing store_categories</h3>

    <table class="table">
      <thead>
        <tr>
          <th>Sr.No.</th>
          <th>Name</th>
          <th>Code</th>
          <th>Created At</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        <% @store_categories.each_with_index do |store_category, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= store_category.name %></td>
          <td><%= store_category.code %></td>
          <td><%= store_category.created_at.to_date %></td>
          <td><%= link_to 'Show', store_category_path(store_category)%>&nbsp;&nbsp;<%= link_to 'Edit', edit_store_category_path(store_category), remote: true %>&nbsp;&nbsp;<%= link_to 'Destroy', store_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>