<div class="row">
	<div class="col-md-1">
	<%= link_to 'Pdf', store_category_store_category_path(@store_category,format: 'pdf'), target: '_blank'%>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<table class="table">
			<tr><td>Store Category: </td><td><%= @store_category.name %></td></tr>
			<tr><td>Code: </td><td><%= @store_category.code %></td></tr>
		</table>
	</div>
</div>
<hr>
<% @store_category.stores.each do |s|%>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-3">
		<table class="table">
			<tr><td>Store: </td><td><%= s.name %></td></tr>
			<tr><td>Code: </td><td><%= s.code %></td></tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-1"></div>
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Sr.No.</th>
					<th>Name</th>
					<th>Company</th>
					<th>Quality</th>
					<th>Quantity</th>
					<th>Price</th>
				</tr>
			</thead>

			<tbody>
				<% s.store_items.each_with_index do |si, i|%>
				<tr>
					<td><%= i+1 %></td>
					<td><%= si.name %></td>
					<td><%= si.company %></td>
					<td><%= si.quality %></td>
					<td><%= si.quantity %></td>
					<td><%= si.price %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>
<hr>
<br/><br/>
<%end%>