<div class="row">
	<div class="col-md-12">
		<ol class="breadcrumb">
			<li>
				<%= link_to home_index_path do %><i class="fa fa-dashboard"></i> Dashboard<%end%>
			</li>
			<li>
				<%= link_to store_categories_path do %><i class="fa fa-tasks"></i> Store Category<%end%>
			</li>
			<li class="active">
				<i class="fa fa-desktop"></i> Show
			</li>
		</ol>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<table>
			<tr><th>Store Category: </th><td><%= @store_category.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<th>Code: </th><td><%= @store_category.code %></td>
			</tr>
		</table>
	</div>
</div>
<hr>
<% @store_category.stores.each do |s|%>
<div class="row">
	<div class="col-md-4">
		<table>
			<tr><th>Store: </th><td><%= s.name %>&nbsp;&nbsp;&nbsp;&nbsp;</td>
				<th>Code: </th><td><%= s.code %></td>
			</tr>
		</table>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-8">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<thead>
					<tr>
						<th>Sr.No.</th>
						<th>Name</th>
						<th>Company</th>
						<th>Quality</th>
						<th>Quantity</th>
						<th>Dimension</th>
						<th>Price</th>
					</tr>
				</thead>
				<tbody>
					<% s.store_items.each_with_index do |si, i|%>
					<tr>
						<td><%= i+1 %></td>
						<td><%= si.name %></td>
						<td><%= si.company %></td>
						<td><%= si.quality %></td>
						<td><%= si.quantity %></td>
						<td><%= si.dimension %> cm</td>
						<td><%= si.price %> <%= si.currency%></td>
					</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
<hr>
<br/><br/>
<%end%>
<div>
	<%= link_to 'Download Pdf',store_category_store_category_path(@store_category,format: 'pdf'), target: '_blank', class: 'btn btn-success'%>
</div>