<!DOCTYPE html>
<html>
<head>
	<title>Store Category</title>
</head>
<body>
	<h3 align="center">Store Category</h3>
	<h4 align="center"><%= @store_category.name%> (<%= @store_category.code %>)</h4>
	<hr>
	<% @store_category.stores.each do |s|%>
	<table>
		<tr><td>Store: </td><td><%= s.name %></td></tr>
		<tr><td>Code: </td><td><%= s.code %></td></tr>
	</table>
	<table>
		<thead>
			<tr>
				<th>Sr.No.</th>
				<th>Name</th>
				<th>Company</th>
				<th>Quality</th>
				<th>Quantity</th>
				<th>Price</th>
			</tr>
		</thead>

		<tbody>
			<% s.store_items.each_with_index do |si, i|%>
			<tr>
				<td><%= i+1 %></td>
				<td><%= si.name %></td>
				<td><%= si.company %></td>
				<td><%= si.quality %></td>
				<td><%= si.quantity %></td>
				<td><%= si.price %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
	<hr>
    <br/><br/>
	<%end%>
</body>
</html>
